sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t kozmotr/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true kozmotr/docker-react npm run test
